.headertext{
    font-size: 20px;
    font-weight: 600;
    color: midnightblue;
    text-decoration: underline;
    text-decoration-color: crimson;
}

.mainContainer{
    padding:1rem;
}

.userTable{
    margin-top:2rem;
}

.tableStyle{
    width:100%
}
.upload{
    margin-left: 6px;
    height:28px;
    cursor: pointer;
}

th{
    padding-bottom: 1rem;
    font-size: 18px;
    background-color: #bcb6b6;
    padding-top: 1rem;
}

td{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 16px;
    border-bottom: 2px solid #bcb6b6;
}

.addButton{
    padding: 10px;
    font-weight: bold;
    background-color: #e9c4c4;
    position:absolute;
    left:78%;
    bottom:92%;
}

.pointcloudButton{
  padding: 10px;
  font-weight: bold;
  background-color: #e9c4c4;
  position:absolute;
  left:90%;
  bottom:92%;
}
.editbutton{
    padding: 7px;
    font-weight: bold;
    margin-right: 15px;
    width:100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .pencilIcon{
    height:20px;
    
  }

  .globeIcon{
    height:20px;
    padding-right:7px;
  }