<div class="container-fluid">
    <form [formGroup]="updateEmployeeForm">
      <div class="row mx-3">
        <div class="col-12 gridContainerWrapper">
          <div class="gridContainer">
            <img
            *ngIf="picId !== null"
            src='{{ picIdurl }}'
            alt="profilepic"
            class="profilepic"
          />
            <div class="gridbox">
            <div class="labelText mb-1">Employee Name</div>
            <div>
              <input
                type="text"
                class="inputbox"
                formControlName="employeeName"
               
              />
            </div>
            </div>
            <div class="gridbox">
              <div class="labelText mb-1">Gender</div>
              <div>
                <input
                  type="text"
                  class="inputbox"
                  formControlName="gender"
                />
              </div>
            </div>
            <div class="gridbox">
              <div class="labelText mb-1">Age</div>
              <div>
                <input
                  type="number"
                  class="inputbox"
                  formControlName="age"
                />
              </div>
            </div>
            <div class="gridbox">
              <div class="labelText mb-1">Mobile No</div>
              <div>
                <input
                  type="number"
                  class="inputbox"
                  formControlName="mobile"
                />
              </div>
            </div>
            <div class="gridbox">
              <div class="labelText mb-1">Address</div>
              <div>
                <input
                  type="text"
                  class="inputbox"
                  formControlName="address"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row mt-3">
        <div class="col-12 px-0">
          <div class="footer p-3 d-flex justify-content-end">
            <button class="submitButton" type="button" (click)="onCancel()">
              Cancel
            </button>
            <button type="button" class="submitButton" (click)="onSubmit()">
             Update
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
